// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #FF7A00;
$secondary: #0085FF;
$enable-rounded: true; // Buttons true / false

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
body {
  font-family: Roboto;
}

// .btn-primary {
//     color: white;
//     :hover {
//         color: white;
//     }

// }

// bootstrap-5.0.2-examples
.bd-placeholder-img { 
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
// bootstrap-5.0.2-examples END


// Pricing Card Start 024 appco
.btn {
  background: $primary;
  -moz-user-select: none;
  text-transform: capitalize;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 0;
  margin-bottom: 0;
  padding: 30px 44px;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  z-index: 1;
  border: 0;
  overflow: hidden;
  margin: 0
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #da1276;
  z-index: 1;
  border-radius: 5px;
  transition: transform 0.5s;
  transition-timing-function: ease;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0)
}

.btn:hover::before {
  transform: scaleX(1);
  color: #fff !important;
  z-index: -1
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none
}

.card-btn1 {
  background: $secondary;
  border-radius: 6px;
  padding: 30px 40px;
  text-transform: uppercase
}

.card-btn1::before {
  background: $primary
}
// Pricing Card Start 024 appco END






// 20chain - Services Style
body {
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.services {
  padding-top: 130px;
  position: relative;
}

.services  .section-heading p {
  margin-top: 10px;
  margin-left: 18%;
  margin-right: 18%;
}

.services .container-fluid {
  padding-left: 65px;
  padding-right: 65px;
}

.services:after {
  content: '';
  background-image: url(../node_modules/bootstrap/dist/assets/services-left-dec.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  bottom: -300px;
  width: 261px;
  height: 368px;
  z-index: 0;
}

.services:before {
  content: '';
  background-image: url(../images/services-right-dec.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  width: 1136px;
  height: 244px;
  z-index: 0;
}

.services .section-heading {
  text-align: center;
  margin-bottom: 80px;
}

.services .section-heading .line-dec {
  margin: 96px auto;
}

.service-item {
  position: relative;
  z-index: 1;
  padding: 30px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  background-color: #fff;
  border-radius: 10px;
  // border-top-right-radius: 50px;
  transition: all .3s;
}

.service-item .icon {
  margin-left: 0px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  transition: all .3s;
}

.service-item h4 {
  transition: all .3s;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.service-item p {
  transition: all .3s;
  font-size: 15px;
  margin-bottom: 20px;
}

.service-item:hover h4,
.service-item:hover p,
.service-item:hover .text-button a {
  color: #fff;
}

.first-service .icon {
  background-image: url(../node_modules/bootstrap/dist/assets/service-icon-01.png);
}

.first-service:hover .icon {
  background-image: url(../node_modules/bootstrap/dist/assets/service-icon-hover-01.png);
}

.second-service .icon {
  background-image: url(../node_modules/bootstrap/dist/assets/service-icon-02.png);
}

.second-service:hover .icon {
  background-image: url(../node_modules/bootstrap/dist/assets/service-icon-hover-02.png);
}


.third-service .icon {
  background-image: url(../node_modules/bootstrap/dist/assets/service-icon-03.png);
}

.third-service:hover .icon {
  background-image: url(../node_modules/bootstrap/dist/assets/service-icon-hover-03.png);
}

.fourth-service .icon {
  background-image: url(../node_modules/bootstrap/dist/assets/service-icon-04.png);
}

.fourth-service:hover .icon {
  background-image: url(../node_modules/bootstrap/dist/assets/service-icon-hover-04.png);
}

.service-item:hover {
  background-image: url(../node_modules/bootstrap/dist/assets/service-bg.jpg);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover
}
// 60chain - Services Style END

/* Logo carousel */
@keyframes slide {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-100%);
  }
}
.logos {
  overflow: hidden;
  padding: 60px 0;
  /* background: white; */
  white-space: nowrap; 
  position: relative;
}
.logos::before,
.logos::after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}
/* left/right fade */
.logos::before {
  left: 0;
  // background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}
.logos::after {
  right: 0;
  // background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}
.logos:hover .logo-slide {
  animation-play-state: paused;
}
.logo-slide {
  display: inline-block;
  animation: 20s slide infinite linear; // 35s default
  /* animation: 5s slide infinite linear; */
}
.logo-slide img {
  height: 36px;
  margin: 0 48px;
}
/* Logo carousel end */

